# Final Project

In [6]:
auction_dict = {"name": [], "bid": []}

from IPython.display import clear_output

print("Welcome to the auction!")

auction_is_on = True

while auction_is_on == True:
    my_name = input("What is your name?\n")
    auction_dict['name'].append(my_name)
    
    my_bid = int(input("What is your bid?\n$"))
    auction_dict['bid'].append(my_bid)
    clear_output(wait=False)
    
    more_bidders = input("Are there more bidders?\n").lower()
    clear_output(wait=False)
    
    if more_bidders not in ["yes","y","ya","yeah","yea"]:
        print(f"The winning bidder is {auction_dict['name'][auction_dict['bid'].index(max(auction_dict['bid']))]} with a winning bid of {auction_dict['bid'][auction_dict['bid'].index(max(auction_dict['bid']))]}")
        auction_is_on = False

The winning bidder is Jack with a winning bid of 101

## Student Scores Challenge

In [21]:
student_scores = {
  "Harry": 81,
  "Ron": 78,
  "Hermione": 99, 
  "Draco": 74,
  "Neville": 62,
  "Snape": -2,
  "Voldemort": 101
}
# ðŸš¨ Don't change the code above ðŸ‘†

#TODO-1: Create an empty dictionary called student_grades.

student_grades = {}

#TODO-2: Write your code below to add the grades to student_grades.ðŸ‘‡

def grader(num):
    if num < 0:
        return "Invalid Score"
    elif num < 70:
        return "Fail"
    elif num <= 80:
        return "Acceptable"
    elif num <= 90:
        return "Exceeds Expectations"
    elif num <= 100:
        return "Outstanding"
    else:
        return "Invalid Score"

for key in student_scores:
    student_grades[key] = grader(student_scores[key])


# ðŸš¨ Don't change the code below ðŸ‘‡
print(student_grades)

{'Harry': 'Exceeds Expectations', 'Ron': 'Acceptable', 'Hermione': 'Outstanding', 'Draco': 'Acceptable', 'Neville': 'Fail', 'Snape': 'Invalid Score', 'Voldemort': 'Invalid Score'}

## Nested Dictionaries Challenge

Create a travel log for the different places I've lived, the team I played for, the members of the host family, and the number of months spent there.

In [26]:
import pandas as pd

travel_log = {
    "Kent": {"Team": "Golden Flashes", 
             "Host Family": [], 
             "Months": 9*5},
    "Wausau": {"Team": "Woodchucks", 
               "Host Family": ['Sharon Jaeger'], 
               "Months": 6},
    "Barre": {"Team": "Mountaineers", 
              "Host Family": ['Kelly Ross','Patrick Ross'], 
              "Months": 3},
    "Bourne": {"Team": "Braves", 
               "Host Family": ['Katie Donovan','Mr. Donovan'], 
               "Months": 1},
    "Grand Junction": {"Team": "Rockies", 
                       "Host Family": ['Spencer Campbell','Julie Campbell','Bev Campbell','Dave Campbell'], 
                       "Months": 4},
    "Chandler": {"Team": "Spring Training", 
                 "Host Family": ['Pam'], 
                 "Months": 2},
    
}

pd.DataFrame(travel_log)

,Kent,Wausau,Barre,Bourne,Grand Junction,Chandler
Team,Golden Flashes,Woodchucks,Mountaineers,Braves,Rockies,Spring Training
Host Family,[],[Sharon Jaeger],"[Kelly Ross, Patrick Ross]","[Katie Donovan, Mr. Donovan]","[Spencer Campbell, Julie Campbell, Bev Campbel...",[Pam]
Months,45,6,3,1,4,2

## Dictionaries Quiz

In [2]:
my_dict = {
    "a": 1,
    "b": 2,
    "c": 3,
}

for key in my_dict:
    my_dict[key] += 1

print(my_dict)

{'a': 2, 'b': 3, 'c': 4}

In [3]:
order = {
    "starter": {1: "Salad", 2: "Soup"},
    "main": {1: ["Burger", "Fries"], 2: ["Steak"]},
    "dessert": {1: ["Ice Cream"], 2: []},
}

order['main'][2][0]

'Steak'